.about {
    background-color: var(--second-bg-color);
    flex-direction: column;
    justify-content: center;
}

.border-animation-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-photo-animation {
    width: calc(150px + 10vw);
    height: calc(150px + 10vw);
    border-radius: calc(50px + 10vw);
    border: 5px solid var(--blue-color);
    transition: 1000ms linear;
}

.border-animation{
    position: absolute;
    width: calc(170px + 10vw);
    height: calc(170px + 10vw);
    border: dashed 5px;
    border-radius: calc(155px + 10vw);
    border-color: var(--second-bg-color) var(--blue-color) var(--second-bg-color) var(--blue-color);
    animation: border-animation 5s infinite;
}

@keyframes border-animation {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

#programa-desenvolve {
    color: var(--blue-color);
}

.about p {
    margin-top: 5%;
    text-align: center;
}

#programa-desenvolve {
    color: var(--blue-color);
}

@media screen and (max-width: 480px){

    .about p {
        margin-top: 40%;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .about p {
        margin-top: 40%;
    }
}